dgl==0.3
gym==0.15.4
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
jupyter-client==5.2.3
jupyter-core==4.4.0
matplotlib==2.2.3
numpy==1.15.1
numpy-stl==2.10.0
pandas==0.23.4
pickleshare==0.7.4
Pillow==5.2.0
pygame==1.9.6
scikit-learn==0.21.3
scipy==1.2.1
seaborn==0.9.0
stable-baselines==2.8.0
tensorboard==1.14.0
tensorboardX==1.6
tensorflow==1.14.0
tensorflow-estimator==1.14.0
torch==1.4.0
torchvision==0.2.1
